Data Bootcamp

Professor Michael Waugh

Spring 2018

Nan Jiang

Question #1: Describe and explain what these expressions produce in basic Python:

In [129]:
2+5

7

Answer: 

This is the addition command.

In [130]:
2 + 5

7

Answer: 

This command is also addition; adding white spaces does not affect the calculations.

In [131]:
2*5

10

Answer: 

This is the multiplication command.

In [132]:
2/5

0.4

Answer: 

This is the division command.

In [133]:
2**5

32

Answer: 

The double star "**" command performs exponential calculations. The code above, specifically, takes 2 to the power of 5.

Question #2: What is the value of x after running these statements in order? Why?

In [134]:
x = 7
x = x + 3
x

10

Answer:

The value of x should be 10. The first line sets x to 7, whereas the second line reassigns the result of the right side of the equation to x.

Question #3: What is the value of y after running these statements in order? Of x? Why?

In [135]:
x = 3
y = x
x = 10
print(x)
print(y)

10
3

Answer: 

The value of y should be 3. The first line sets x to 3 whose value is then assigned to y in line two. As a result, y = 3.

The value of x should be 10. Even though it was set to 3 in the first line, Python runs codes line by line and thus the last line which sets x to 10 determines the ultimate value of x.

Question #4: Does this code run without error? If so, what does it produce? If not, explain why.

In [136]:
x = 3
x = x/2
y = 'abc' 
z = y + y 
print(x, z)

1.5 abcabc

Answer: 

This code runs without error. 

The first line sets x to 3 while the second one divides it by 2, producing 1.5.

As for y, the third line defines y as a string "abc" while line four performs addition for strings and assigns the result "abcabc" to variable z. 

The print command displays outputs specified inside the bracket and the comma separate the two outputs apart.

Question #5: Does this code run without error? If so what does it produce? If not, explain why.

In [137]:
x = 3
x = x/2
y = 'abc' 
z = x + y 
print(x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Answer: 

This code does not run without error, as the plus function only works with variables of the same type. 

Specifically, x is an float, whereas y is a string, yet in line 4 we tried to add them together and assign the result to a new variable z.

Qustion #6: Does this code run without error? If so what does it produce? If not, explain why.

In [138]:
x = 3
y = 24
z = y / x
print(x, y, z, sep = '|')

3|24|8.0

Answer: 

This code runs without error. 

The first and second line sets x and y to 3 and 24 respectively, while the third one divides y by x and assigns the result (8) to z.

The print command displays output specified within the bracket. The last element "sep = '|'" specifies the style of seperation between outputs.

Question #7: Does this code run without error? If so what does it produce? If not, explain why.

In [139]:
x = 3
y = '24' 
z = y / x 
print(x, z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

Answer:

This code does not run without error, as the division function only works with variables of the same type. 

Specifically, x is an integral, whereas y is a string, yet in line 3 we tried to divide y by x and assign the quotient to a new variable z.

Question #8: Does this code run without error? If so what does it produce? If not, explain why.

In [140]:
x = "I am a #string"  # Whoa, a string!
x

'I am a #string'

Answer:

This code runs without error. It produces the string "I am a #string" simply through assigning the string to x variable through the assign function "=" in line one.

Question #9: Does this code run without error? If so what does it produce? If not, explain why.

In [141]:
x = [1, 2, 3] 
y = [42, 43] 
z = x + y 
print(z)

[1, 2, 3, 42, 43]

Answer:

This code runs without error. It produces the list [1, 2, 3, 42, 43].

Specifically, the first and second lines set x and y to lists [1, 2, 3] and [42, 43] respectively. The third one performs addition of x and y which essentially combines the two lists into one and assigns the result to variable z, which is then printed out by line 4.

Question #10: Does this code run without error? If so what does it produce? If not, explain why.

In [142]:
x = [1, 2, 3] 
y = 42 
z = x + y

TypeError: can only concatenate list (not "int") to list

Answer:

This code does not run without error, as the plus function only can only concatenate list into list. 

Specifically, x is a list, whereas y is a integral, yet in line 3 we tried to combine them together and assign the result to a new variable z.

Question #11: What "types" are...

In [143]:
x1 = 12 
x2 = 12.0 
x3 = '12.0'
x4 = [12] 
x5 = [12, 12.0, '12.0']

In [144]:
whos

Variable       Type     Data/Info
---------------------------------
word_count_x   list     n=9
x              list     n=3
x1             int      12
x2             float    12.0
x3             str      12.0
x4             list     n=1
x5             list     n=3
y              int      42
z              list     n=5

Answer:

x1 is an integral.

x2 is an float.

x3 is a string.

Both x4 and x5 are lists.

Question #12: Explain the result of each line:

In [145]:
type(42)

int

Answer:

The type command denotes that 42 is an integral.

In [146]:
type(42.0)

float

Answer:

The type command denotes that 42.0 is an float.

In [147]:
type('42.0')

str

Answer:

The type command denotes that '42.0' is a string.

In [148]:
type ("42.0")

str

Answer:

The type command denotes that "42.0", like '42.0', is a string.

In [149]:
type ("""42.0""")

str

Answer:

The type command denotes that """42.0""", like '42.0' and "42.0", is a string.

In [150]:
type ([1, 2])

list

Answer:

The type command denotes that [1,2] is a list.

In [151]:
type([1] + [2])

list

Answer:

The type command denotes that the addition of [1] and [2], like [1,2], is a list.

In [152]:
type(1 + 2)

int

Answer: 

The type command denotes that the addition of 1 and 2, like 42, is an integral.

In [153]:
type(print)

builtin_function_or_method

Answer:

The type command denotes that print is a builtin function or method.

Question #13: Describe and explain the result of this statement:

In [154]:
type(float(str(int('1234'))))

float

Answer: 

Starting from the inside, the three inner brackets turn the original string '1234' first into an integral, then a string and lastly into an float. Lastly, the outermost type command denotes the ultimate type of the variable, which turns out to be a float, after the series of transformation.

Question #14: Describe and explain the result of this statement:

In [155]:
type(int(float('12.34')))

int

Answer: 

Starting from the inside, the two inner brackets first turn the original string '12.34' into an float and then an integral. The outermost type command, then, denotes the ultimate type of the variable, which is a integral, after the two phase transformation.

Question #15: Explain each line:

In [156]:
len([1234])

1

Answer:
    
The length command denotes the size of the list [1234], which only contains one element of the integral 1234, as 1.

In [157]:
len("1234")

4

Answer: 

The length command denotes the length, i.e. the number of letters, of the string "1234", as 4.

In [158]:
len(1234)

TypeError: object of type 'int' has no len()

Answer:

This code does not run without error, as object of type integral has no length. Since 1234 is clearly an integral, we cannot perform command length on it.

Question #16: What are the type and length of x = []?

In [159]:
x = []
type(x)

list

In [160]:
len(x)

0

Answer:

x = [] is a list and its length is 0.

Question #17: Convert the string x = 'abcde' to a list. What does it look like?

In [161]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

Answer:

After conversion, each letter in the string 'abcde' becomes an element in the list, i.e. ['a', 'b', 'c', 'd', 'e'].

Question #18: Consider the integer x = 1234

a. Convert x to a floating point number.

In [162]:
x = 1234
float(x)

1234.0

b. Convert x to a string.

In [163]:
str(x)

'1234'

c. Convert x to the list ['1', '2', '3', '4']

In [164]:
list(str(x))

['1', '2', '3', '4']

Question #19: How would you convert x to “title case” (first letter of each word capitalized)?

x = "luke, i am your father"

In [165]:
x = "luke, i am your father"
str.title(x)

'Luke, I Am Your Father'

Question #20: Consider the string, x = "How many characters and words are in this string?"

a. How many characters does x contain?

In [166]:
x = "How many characters and words are in this string?"
len(x)

49

Remark:

This character count of 49 includes spaces and punctuations.

b. Convert x to a list of individual characters.

In [167]:
list(x)

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

Remark: 

Again, characters include unconventional ones of spaces and punctuations.

c. Convert x to a list of individual words. Hint: Use tab completion to find a method that splits x into pieces.

In [168]:
x.split()

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

d. How many words does x contain?

In [169]:
words_x = x.split()
len(words_x)

9